@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.app-loading {
  position: absolute;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  background-color: $gray-900;

  opacity: 0.9;
}
