@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.form-control {
  &.ng-touched {
    &.ng-invalid {
      border-color: $form-feedback-invalid-color;

      padding-right: $input-height-inner;
      background-image: escape-svg($form-feedback-icon-invalid);
      background-repeat: no-repeat;
      background-position: right $input-height-inner-quarter center;
      background-size: $input-height-inner-half $input-height-inner-half;
    }
  }
}
